.loader {
  width: 50px;
  height: 50px;
  position: relative;
}

.capsule-1,
.capsule-2,
.capsule-3,
.capsule-4,
.capsule-5,
.capsule-6,
.capsule-7,
.capsule-8 {
  background-color: #8e93a1;
  width: 10px;
  height: 4px;
  position: absolute;
  border-radius: 10px;
  top: calc(50% - 2.5px);
  left: calc(50% + 10px);
  transform-origin: -8px center;
}

.capsule-1 {
  animation: spin1 1s linear infinite;
}

.capsule-2 {
  animation: spin2 1s linear infinite;
}

.capsule-3 {
  animation: spin3 1s linear infinite;
}

.capsule-4 {
  animation: spin4 1s linear infinite;
}

.capsule-5 {
  animation: spin5 1s linear infinite;
}

.capsule-6 {
  animation: spin6 1s linear infinite;
}

.capsule-7 {
  animation: spin7 1s linear infinite;
}

.capsule-8 {
  animation: spin8 1s linear infinite;
}

@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes spin3 {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(450deg);
  }
}

@keyframes spin4 {
  from {
    transform: rotate(135deg);
  }

  to {
    transform: rotate(495deg);
  }
}

@keyframes spin5 {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(540deg);
  }
}

@keyframes spin6 {
  from {
    transform: rotate(225deg);
  }

  to {
    transform: rotate(585deg);
  }
}

@keyframes spin7 {
  from {
    transform: rotate(270deg);
  }

  to {
    transform: rotate(630deg);
  }
}

@keyframes spin8 {
  from {
    transform: rotate(315deg);
  }

  to {
    transform: rotate(675deg);
  }
}
