.button-primary,
.button-ghost {
  height: 2.75rem; /* 44px/16 */
  width: 16.6rem; /* 267px/16 */
  border-radius: 16px;
  border: none;
  font-size: 1rem;
  transition: 0.1s;
}

.button-primary {
  background-color: var(--color-main);
  color: var(--color-white);
}

.button-ghost {
  background-color: var(--color-white);
  color: var(--color-mid-gray);
}

.button-primary:disabled {
  background-color: var(--color-weak-gray);
}

.button-ghost:disabled {
  color: var(--color-warning);
}
